* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container {
    display: flex;
}

#bal {
    /*flex: 2;*/
		width: 320px;
		text-align: center;
}

#hit {
	outline:none;
	border:none;
	margin-top: 30px;
	width: 200px;
	height:200px;
	border-radius: 100px;
	background: #8b4513;
}
#hit:active {
	background: #8b4513;
	width: 210px;
}

#center {
    flex: 1;
    text-align: center;
}

#jobb {
		user-select: none;
    width: 320px;
		background: saddlebrown;
}
#upgrades {
	margin:5px;
	padding: 5px;
	overflow-x: auto;
	overflow-y: none;
	white-space: nowrap;
}
#upgrade {
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
	height: 80px;
	width: 80px;
	border: 1px solid black;
	background: rgba(255,255,255,0.1);
	color: white;
	cursor: pointer;
	overflow: hidden;
}

#buildings {
    text-align: left;
}
#unlockedUpgrades #upgrade {
	color:black;
}
#buildings >div > div {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#hitcount {
    text-align: center;
}

